<%@ Template Language="C#" TargetLanguage="C#" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceDataBase" Type="DatabaseSchema" %>
//------------------------------------------------------------------------------
//Description: 缓存服务总接口实现
//Author: WANGYX
//Date: <%=DateTime.Now %>
//------------------------------------------------------------------------------
using System;
using CacheInterface;
using EP.Util;

namespace CacheImplement
{
    public partial class Services : MarshalByRefObject, IServices
    {       
        #region 服务实现实例
        <%
        foreach(TableSchema table in SourceDataBase.Tables){ 
            if(!table.Name.Equals("Sys_Tables")){
        %>
        /// <summary>
        /// <%=table.Name.Replace("_","") %>表缓存接口
        /// </summary>
        public I<%=table.Name.Replace("_","") %>Service <%=table.Name.Replace("_","") %>Service
        {
            get { return CacheImplement.<%=table.Name.Replace("_","") %>Service.Instance; }
        } 
        <%}} %>
        #endregion
    }
}