<%@ Template Language="C#" TargetLanguage="C#" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="TableSchema" %>
//------------------------------------------------------------------------------
//Description: <%=SourceTable.Name.Replace("_","") %>服务接口实现DAL
//Author: WANGYX
//Date: <%=DateTime.Now %>
//------------------------------------------------------------------------------
using System.Collections.Generic;
using System.Data.SqlClient;
using EP.Entity;
using EP.Util;

namespace CacheImplement.DAL
{
    public partial class Dal<%=SourceTable.Name.Replace("_","") %> : SingletonFactory<Dal<%=SourceTable.Name.Replace("_","") %>>
    {
        #region 系统自动生成服务接口
        const string _fields = "<%int i=0;foreach(ColumnSchema column in SourceTable.Columns){i++;%><%=column.Name %><%if(SourceTable.Columns.Count!=i){ %>,<%} %><%} %>";
        /// <summary>
        /// 获取表主键最大ID
        /// </summary>
        /// <returns></returns>
        public long GetMaxID()
        {
            var obj = SqlHelper.GetObject("SELECT MAX(ID) FROM [<%=SourceTable.Name %>] (NOLOCK)");
            if (obj != null)
                return obj.ToString().ToLong();
            return 1;
        }

        /// <summary>
        /// 根据主键判断是否存在记录
        /// </summary>
        /// <param name="ID">编号</param>
        /// <returns></returns>
        public bool Exists(long ID)
        {
            string strSQL = "SELECT COUNT(1) FROM [<%=SourceTable.Name %>] (NOLOCK) WHERE ID=@ID";
            int result = SqlHelper.GetCount(strSQL, new[] { new SqlParameter("@ID", ID) });
            if (result == 1)
                return true;
            else
                return false;
        }

        /// <summary>
        /// 根据自定义条件判断是否存在记录
        /// </summary>
        /// <param name="selectWhere">限定条件 不带Where</param>
        /// <returns>是否存在记录</returns>
        public bool ExistsDynamic(string selectWhere)
        {
            string strSQL = "SELECT COUNT(1) FROM [<%=SourceTable.Name %>] (NOLOCK) WHERE " + @selectWhere;
            int result = SqlHelper.GetCount(strSQL);
            if (result > 0)
                return true;
            else
                return false;
        }

        /// <summary>
        /// 根据自定义条件统计记录数
        /// </summary>
        /// <param name="selectWhere">限定条件 不带Where</param>
        /// <returns>记录数</returns>
        public int GetCount(string selectWhere)
        {
            if (selectWhere != "") selectWhere = "WHERE " + selectWhere;
            string strSQL = "SELECT COUNT(1) FROM [<%=SourceTable.Name %>] (NOLOCK) " + @selectWhere;
            return SqlHelper.GetCount(strSQL);
        }

        /// <summary>
        /// 根据主键获取实体
        /// </summary>
        /// <param name="ID">查询编号</param>
        /// <param name="fields">查询返回字段 如果查询全部则不需要传入参数</param>
        /// <returns></returns>
        public <%=SourceTable.Name.Replace("_","") %> GetModel(long ID, string fields = "")
        {
            if (fields == "") fields = _fields;
            string strSQL = "SELECT " + fields + " FROM [<%=SourceTable.Name %>](NOLOCK) WHERE ID=@ID";
            return SqlHelper.GetEntity<<%=SourceTable.Name.Replace("_","") %>>(strSQL, new[] { new SqlParameter("@ID", ID) });
        }

        /// <summary>
        /// 根据条件获取实体
        /// </summary>
        /// <param name="selectWhere">查询条件 不带Where</param>
        /// <param name="fields">查询返回字段 如果查询全部则不需要传入参数</param>
        /// <returns></returns>
        public <%=SourceTable.Name.Replace("_","") %> GetModelDynamic(string selectWhere, string fields = "")
        {
            if (fields == "") fields = _fields;
            string strSQL = "SELECT " + fields + " FROM [<%=SourceTable.Name %>](NOLOCK) WHERE " + @selectWhere;
            return SqlHelper.GetEntity<<%=SourceTable.Name.Replace("_","") %>>(strSQL);
        }

        /// <summary>
        /// 获得数据列表 返回List<T>
        /// </summary>
        /// <param name="fields">查询返回字段 如果查询全部则不需要传入参数</param>
        /// <param name="topWhere">返回条数 例："Top n"</param>
        /// <param name="selectWhere">查询条件(不带Where)</param>
        /// <param name="sort">排序(不带Order By) 默认：ID DESC</param>
        /// <returns></returns>
        public List<<%=SourceTable.Name.Replace("_","") %>> GetModelList(string fields = "", string topWhere = "", string selectWhere = "", string sort = "")
        {
            if (fields == "") fields = _fields;
            if (selectWhere != "") selectWhere = "WHERE " + selectWhere;
            if (sort != "")
                sort = "ORDER BY " + sort;
            else
                sort = "ORDER BY ID DESC";
            string strSQL = "SELECT " + topWhere + " " + fields + " FROM [<%=SourceTable.Name %>](NOLOCK) " + selectWhere + " " + sort;
            return SqlHelper.GetEntities<<%=SourceTable.Name.Replace("_","") %>>(strSQL);
        }

        /// <summary>
        /// 分页取数据列表 返回List<T>Model
        /// </summary>
        /// <param name="pageIndex">当前页码</param>
        /// <param name="pageSize">页在大小</param> 
        /// <param name="selectWhere">过滤条件(不带Where)</param>
        /// <param name="fields">查询返回字段 如果查询全部则不需要传入参数</param>
        /// <param name="sort">排序(不带Order By) 默认：ID DESC</param>
        /// <returns></returns>
        public Page<<%=SourceTable.Name.Replace("_","") %>> GetPageList(int pageIndex, int pageSize, string selectWhere = "", string fields = "", string sort = "")
        {
            if (selectWhere != "") selectWhere = "WHERE " + selectWhere;
            if (fields == "") fields = _fields;
            if (sort == "") sort = "ID DESC";
            string strSQL = "SELECT " + fields + " FROM [<%=SourceTable.Name %>](NOLOCK) " + selectWhere;
            strSQL = SqlHelper.GetPagingSql(strSQL, sort);
            string sqlCount = @"SELECT COUNT(1) FROM [<%=SourceTable.Name %>](NOLOCK) " + selectWhere;
            return SqlHelper.GetPage<<%=SourceTable.Name.Replace("_","") %>>(pageIndex, pageSize, strSQL, null, sqlCount, null);
        }
        #endregion
    }
}