<%@ Template Language="C#" TargetLanguage="C#" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="TableSchema" %>
//------------------------------------------------------------------------------
//Description: <%=SourceTable.Name %>服务接口实现DAL
//Author: WANGYX
//Date: <%=DateTime.Now %>
//------------------------------------------------------------------------------
using System.Collections.Generic;
using System.Data.SqlClient;
using EntityLib;
using CommonLib;

namespace LogicSrvLib.DAL
{
    public class Dal<%=SourceTable.Name %> : SingletonFactory<Dal<%=SourceTable.Name %>>
    {
        #region 系统自动生成服务接口
        /// <summary>
        /// 根据实体添加数据库
        /// </summary>
        /// <param name="model">实体</param>
        /// <returns>是否成功</returns>
        public bool Insert(<%=SourceTable.Name %> model)
        {
            string sql = @"INSERT INTO [<%=SourceTable.Name %>]
           (
           <%
            int i=0;            
            foreach(ColumnSchema column in SourceTable.Columns){ 
                i++;
            %>
           [<%=column.Name %>]<%if(i!=SourceTable.Columns.Count){ %>,<%}else{ %>)<%} %>
           <%} %>
        VALUES
           (
           <%
            i=0;            
            foreach(ColumnSchema column in SourceTable.Columns){ 
                i++;
            %>
           @<%=column.Name %><%if(i!=SourceTable.Columns.Count){ %>,<%}else{ %>)";<%} %>
           <%} %>
            SqlParameter[] para = { 
                <%
                i=0;
                foreach(ColumnSchema column in SourceTable.Columns){ 
                    i++;
                %>
                <%if(column.Name.ToUpper().Equals("ID")){ %>
                new SqlParameter("@ID", BIdGenerator.Singleton.Generate("<%=SourceTable.Name %>"))<%if(i!=SourceTable.Columns.Count){ %>,<%} %>
                <%}else{ %>
                new SqlParameter("@<%=column.Name %>",model.<%=column.Name %>)<%if(i!=SourceTable.Columns.Count){ %>,<%} %>
                <%} %>
                <%} %>
            };
            return SqlHelper.ExecuteSql(sql, para);
        }

        /// <summary>
        /// 根据ID进行实体更新
        /// </summary>
        /// <param name="model">实体</param>
        /// <returns>是否成功</returns>
        public bool Update(<%=SourceTable.Name %> model)
        {
            string sql = @"UPDATE [<%=SourceTable.Name %>] SET
                <%
                i=0;
                foreach(ColumnSchema column in SourceTable.Columns){ 
                    i++;
                %>
                <%if(!column.Name.ToUpper().Equals('I'+'D')){ %>
               [<%=column.Name %>]=@<%=column.Name %><%if(i!=SourceTable.Columns.Count){ %>,<%}else{ %> WHERE ID=@ID";<%} %>
               <%} %>
               <%} %>
            SqlParameter[] para = { 
                <%
                i=0;
                foreach(ColumnSchema column in SourceTable.Columns){ 
                    i++;
                %>
                new SqlParameter("@<%=column.Name %>",model.<%=column.Name %>)<%if(i!=SourceTable.Columns.Count){ %>,<%} %>
                <%} %>
            };
            return SqlHelper.ExecuteSql(sql, para);
        }

        /// <summary>
        /// 自定义表更新
        /// </summary>
        /// <param name="fields">更新字段及字段值 不能为空 不带Set 如："Field1=value1,Field2=value2"</param>
        /// <param name="selectWhere">限定条件 不能为空 不带Where</param>
        /// <returns>是否成功</returns>
        public bool UpdateDynamic(string fields, string selectWhere)
        {
            string sql = @"UPDATE [<%=SourceTable.Name %>] SET " + fields.FilterSQL() + " WHERE " + selectWhere.FilterSQL();
            return SqlHelper.ExecuteSql(sql);
        }

        /// <summary>
        /// 根据编号删除一条记录
        /// </summary>
        /// <param name="ID">编号</param> 
        /// <returns>是否成功</returns>
        public bool Delete(long ID)
        {
            string sql = @"DELETE [<%=SourceTable.Name %>] WHERE ID=@ID";
            var para = new[] { new SqlParameter("@ID", ID) };
            return SqlHelper.ExecuteSql(sql, para);
        }

        /// <summary>
        /// 根据自定义条件删除记录
        /// </summary>
        /// <param name="selectWhere">查询条件 不带Where</param> 
        /// <returns>返回删除行数</returns>
        public bool DeleteDynamic(string selectWhere)
        {
            string sql = @"DELETE [<%=SourceTable.Name %>] WHERE " + selectWhere.FilterSQL();
            return SqlHelper.ExecuteSql(sql);
        }
        #endregion
        
        #region 自定义服务接口
        
        #endregion
    }
}