<%@ Template Language="C#" TargetLanguage="SQL" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="SourceTable" Type="TableSchema" %>
/*
=======================================================
存储过程名称：[dbo].[usp_<%=SourceTable.Name %>_DeleteDynamic]
编写者：WANGYX
编写时间：<%=DateTime.Now %>
作用描述：对表<%=SourceTable.Name %>进行自定义条件删除操作。
------------------------------------------------------
修改者：
修改时间：
修改描述：
=======================================================
*/
ALTER PROCEDURE [dbo].[usp_<%=SourceTable.Name %>_DeleteDynamic]
	@WhereStr nvarchar(4000)
AS
DECLARE @SQL nvarchar(4000)
SET @SQL = 'DELETE FROM [<%=SourceTable.Name %>] WHERE' + @WhereStr
EXEC sp_executesql @SQL